header{
    background: url('../images/bg002.jpg');
    background-position: center;
    background-size: cover;
    height: 60px;
    border-bottom: 5px solid #f8931d;
}

.logo{
    width: 180px;
    position: absolute;
    margin-left: -90px;
    left: 50%;
    top: 25px;
}

main{
    margin-top: 100px;
    margin-bottom: 60px;
}

.card{
    margin-bottom: 20px;
}

main h2{
    font-size: 1.2rem;
    font-weight: bold;
    background: rgba(219, 219, 219, 0.788);
    padding-left: 40px;
    line-height: 40px;
}
main h2 span{
    background: url('../images/cat_icon.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    width: 32px;
    height: 40px;
    position: absolute;
    margin-left: -40px;
}

footer{
    background: url('../images/bg001.jpg');
    background-position: center;
    background-size: cover;
    height: 60px;
    padding-top: 10px;
    border-top: 5px solid #3a8ae9;
}